#contactWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: var(--spacing-large);
    padding: var(--spacing-vlarge) 0;
}

#address,
#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#address > :nth-child(1),
#socials > :nth-child(1) {
    font-family: var(--font-heading);
    font-size: var(--size-vlarge);
    font-weight: bold;

    color: var(--color-black);
}

#address > *:not(:first-child),
#socials > *:not(:first-child) {
    color: var(--color-blue);
}




