#menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(50%, 50vw, 80%);
  
    gap: var(--spacing-large);
    padding: var(--spacing-vlarge) 0;
}

#menuWrapper #itemWrapper {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-large);

    width: var(--width-large);
}

#menuWrapper .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: var(--spacing-small);

    border: 2px solid var(--color-grey);
    border-radius: 10px;
    background-color: var(--color-grey-light);
}

#menuWrapper > #heading {
    font-family: var(--font-heading);
    font-size: var(--size-vlarge);
    font-weight: bold;

    color: var(--color-black);
}

#menuWrapper .descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--color-blue);
}
#menuWrapper .descriptionWrapper > :nth-child(1) {
    font-size: var(--size-medium);
    font-weight: bold;
}
#menuWrapper .descriptionWrapper > :nth-child(2) {
    font-size: var(--size-vsmall);
}
#menuWrapper #price {
    font-weight: bold;
    color: var(--color-blue);
}