#menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: clamp(50%, 50vw, 80%);
  
    gap: var(--spacing-medium);
    padding: var(--spacing-vlarge) 0;

    color: red;
}