/* ==== HEADER ==== */

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing-xlarge) var(--spacing-large) 0 var(--spacing-large);

    background: linear-gradient(135deg, #75E2EF, #1D768C);
}

#title {
    margin-bottom: var(--spacing-vlarge);

    font-family: var(--font-heading);
    font-size: var(--size-heading);
    color: var(--color-white);
}

#opening {
    display: flex;
    flex-direction: column;

    width: clamp(15rem, 25vw, 20rem);
    
    gap: var(--spacing-vsmall);

    font-size: var(--size-medium);
    color: var(--color-black);
}
.day-wrapper {
    display: flex;
    justify-content: space-between;

    padding: var(--spacing-vsmall) var(--spacing-small);
    
    border: 4px double var(--color-black);
}

#tab-buttons {
    display: flex;
    
    width: fit-content;

    gap: calc(var(--spacing-medium) + 0.5rem);
    margin-top: var(--spacing-vlarge);
    padding: var(--spacing-vsmall) var(--spacing-medium);

    font-family: var(--font-heading);
    font-weight: bold;

    background-color: var(--color-grey);
    color: var(--color-blue);

    border: 2px solid inherit;
    border-radius: 17px;
}
#tab-buttons button {
    border: none;
    transition: color 150ms ease; 
}
#tab-buttons button:hover { 
    color: var(--color-white);
}
#tab-buttons button:active {
    transform: scale(0.96); 
}




