/* ==== RESET ==== */

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit; 
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
button, input, textarea, select, a {
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button {
    cursor: pointer;
}

/* ==== CUSTOM PROPERTIES ==== */

:root {
    --color-white: hsl(0, 0%, 95%);
    --color-lightWhite: hsl(0, 0%, 90%);
    --color-darkWhite: hsl(0, 0%, 70%);

    --color-black: hsl(0, 0%, 5%);
    --color-lightBlack: hsl(0, 0%, 10%);
    --color-vlightBlack: hsl(0, 0%, 30%);

    --color-green: #203302;
    --color-yellow: #FFE900;
    --color-brown: #3B2A1D;
    --color-lightBrown: #5B3A29;
    --color-vlightBrown: #F4DAB3;
}

body {
    background-color: var(--color-brown);
}