/* ==== RESET ==== */

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit; 
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
button, input, textarea, select, a {
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button {
    cursor: pointer;
}

/* ==== CUSTOM PROPERTIES ==== */

:root {
    /* color */
    --color-white: hsl(0, 0%, 95%);
    --color-white-light: hsl(0, 0%, 90%);
    --color-white-dark: hsl(0, 0%, 70%);

    --color-black: hsl(0, 0%, 5%);
    --color-black-light: hsl(0, 0%, 10%);
    --color-black-vlight: hsl(0, 0%, 30%);

    --color-blue: rgb(86, 86, 164);
    --color-green: #203302;
    --color-yellow: #FFE900;
    --color-brown: #3B2A1D;
    --color-brown-light: #5B3A29;
    --color-brown-vlight: #F4DAB3;

    /* font size */
    --size-header: 5rem;
    --size-vlarge: 1.75rem;
    --size-large: 1.25rem;
    --size-medium: 1rem;
    --size-small: 0.9rem;
    --size-vsmall: 0.75rem;

    /* spacing */
    --spacing-xlarge: 10em;
    --spacing-vlarge: 2.5em;
    --spacing-large: 2em;
    --spacing-medium: 1em;
    --spacing-small: 0.6em;
    --spacing-vsmall: 0.3em;
}

/* ==== GENERAL ==== */

body {
    color: var(--color-white);
}

/* ==== HEADER ==== */

#header-container {
    /* height: 55vh; */

    padding: var(--spacing-xlarge) var(--spacing-large) var(--spacing-large) var(--spacing-large);

    background-color: var(--color-green);
}

#title {
    display: flex;
    justify-content: center;
    align-items: center; 

    margin-bottom: var(--spacing-large);

    font-size: var(--size-header);
    color: var(--color-yellow);
}

#opening {
    display: flex;
    flex-direction: column;

    width: 23ch;

    gap: var(--spacing-vsmall);

    font-size: var(--size-large);
}
.day-wrapper {
    display: flex;
    justify-content: space-between;

    padding: var(--spacing-vsmall) var(--spacing-small);
    
    border: 3px solid var(--color-black);
}