/* ==== RESET ==== */

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit; 
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
button, input, textarea, select, a {
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button {
    cursor: pointer;
}

/* ==== CUSTOM PROPERTIES ==== */

:root {
    /* colors */
    --color-white: hsl(0, 0%, 95%);
    --color-white-light: hsl(0, 0%, 90%);
    --color-white-dark: hsl(0, 0%, 70%);

    --color-black: hsl(0, 0%, 5%);
    --color-black-light: hsl(0, 0%, 10%);
    --color-black-vlight: hsl(0, 0%, 30%);

    --color-blue: rgb(86, 86, 164);
    --color-green: #203302;
    --color-yellow: #FFE900;
    --color-brown: #3B2A1D;
    --color-brown-light: #5B3A29;
    --color-brown-vlight: #F4DAB3;

    /* font sizes */
    --size-header: clamp(2.5rem, 3.5vw + 1rem, 3.5rem);
    --size-xlarge: clamp(2rem, 3vw + 1rem, 3rem);
    --size-vlarge: clamp(1.5rem, 2vw + 1rem, 2rem);
    --size-large: clamp(1.25rem, 1.2vw + 0.75rem, 1.5rem);
    --size-medium: clamp(1rem, 1vw + 0.5rem, 1.2rem);
    --size-small: clamp(0.875rem, 0.8vw + 0.5rem, 1rem);
    --size-vsmall: clamp(0.75rem, 0.7vw + 0.5rem, 0.875rem);

    /* spacing */
    --spacing-xlarge: 10rem;
    --spacing-vlarge: 2.5rem;
    --spacing-large: 2rem;
    --spacing-medium: 1rem;
    --spacing-small: 0.6rem;
    --spacing-vsmall: 0.3rem;

    /* container widths */
    --width-vlarge:  min(90%, 90rem);
    --width-large:  min(90%, 75rem);
    --width-medium:  min(90%, 60rem);
    --width-small:  min(90%, 45rem);
    --width-vsmall:  min(90%, 30rem);

    /* shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 4px 16px rgba(0, 0, 0, 0.15);
}

/* ==== GENERAL ==== */

body {
    color: var(--color-white);
}

/* ==== HEADER ==== */

#header-container {
    padding: var(--spacing-xlarge) var(--spacing-large) var(--spacing-large) var(--spacing-large);

    background-color: var(--color-green);
}

#title {
    display: flex;
    justify-content: center;
    align-items: center; 

    margin-bottom: var(--spacing-vlarge);

    font-size: var(--size-header);
    color: var(--color-yellow);
}

#opening {
    display: flex;
    flex-direction: column;

    width: clamp(15rem, 25vw, 20rem);

    gap: var(--spacing-vsmall);

    font-size: var(--size-medium);
}
.day-wrapper {
    display: flex;
    justify-content: space-between;

    padding: var(--spacing-vsmall) var(--spacing-small);
    
    border: 4px double var(--color-black);
    /* box-shadow: var(--shadow-md); */
}

/* style buttons next! */